@import '~styles/base';

header {
  background: $header-color;
  padding: 20px;
  margin-bottom: 30px;

  img {
    margin-top: 15px;
  }
}

label {
  margin-right: 5px;
}

.setting {
  padding: 10px;
}