@import '~styles/base';

header {
  background: $header-color;
  padding: 30px;
  margin-bottom: 30px;

  img {
    margin-top: 15px;
  }
}

.italic {
  font-style: italic;
}

label {
  margin-right: 5px;
}