@import 'base';
@import 'buttons';

* {
  font-family: $font-stack;
}

.wrapper {
  width: 50vw;
  margin: auto;
}

header {
  background: $header-color;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;

  h1 {
    font-weight: normal;
  }
}

h1,
h2 {
  padding: 0px;
  margin: 0px;
}

.settings-wrapper {
  margin-top: 10px;
}

.setting {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

#restoreDefaultsButton {
  margin-top: 5px;
  margin: 0 auto;
  display: block;
}

.general-settings {
  h2 {
    margin-bottom: 15px;
  }
}

#settings-header {
  margin: 10px 0 10px 0;
}