@import '~styles/base';

header {
  background: $header-color;
  padding: 5px;
  margin-bottom: 30px;
}

.wrapper {
  width: 500px;
}

.small-subheader {
  color: lighten(black, 50%);
  font-style: italic;
  font-size: 11px;
}

#unfollow-thread {
  p {
    padding: 0;
    margin: 0;
  }
}