<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>re-readdit settings</h1>
      <a href="https://github.com/mjstewart">
        <img src="../img/GitHub-Mark-32px.png" alt="GitHub Logo">
      </a>
    </header>
    <div id="settings-header">
      <input type="button" id="restoreDefaultsButton" class="button" value="Restore defaults">
    </div>
    <div class="settings-wrapper">
      <div class="general-settings">
        <h2>General settings</h2>
        <div class="setting">
          <label for="unreadCommentColourPicker">Unread comment colour</label>
          <input type="color" id="unreadCommentColourPicker">
        </div>
      </div>
    </div>
  </div>
</body>

</html>